argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
cffi==1.16.0
confusable-homoglyphs==3.3.1
crispy-bootstrap5==2024.2
dj-database-url==2.1.0
Django==5.0.4
django-allauth==0.62.1
django-configurations==2.5.1
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-registration==3.4
pycparser==2.22
PyYAML==6.0.1
sqlparse==0.5.0
typing_extensions==4.11.0
tzdata==2024.1

